@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-image: url(img/firewatch_bg_header.jpg);
    background-size: cover;
    background-position: top;
}

.header {
    background: #181818;
    background: rgba(0,0,0,.5);
    border-radius: 1em;
    color: aliceblue;
    text-align: center;
    font-size: 3em;
    padding: .5em;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    font-family: 'Quicksand', sans-serif;
}