@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-image: url(img/bg.jpg);
    background-repeat: repeat;
    font-family: 'Quicksand', sans-serif;
}
.header {
    background: rgba(0,0,0,.5);
    border-radius: 1em;
    color: aliceblue;
    text-align: center;
    font-size: 3em;
    padding: .5em;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    font-family: 'Quicksand', sans-serif;
}
.section {
    padding: 5em;
    margin-top: 1em;
    margin-left: -1em;
    margin-right: 25%;
}
.game {
    background: rgba(0,0,0,.8);
    color: aliceblue;
    margin: 20px;
    margin-left: 0px;
    padding: .5em;
}
.game h1{
    font-size: 5vw;
    margin: 0px;
}
.game img{
    margin-bottom: 1em;
    margin-left: 1em;
    width: 3em;
    height: 3em;
    background-color: aliceblue;
    border-radius: 5px;
}

.footer{    
    color: #FFF;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: .5em;    
    display: inline-block;
}

.footer ul {
    display: flex;
    
}
.footer ul li{
    display: inline-block;
    margin-right: 1em;
    font-size: 2em;
}

.footer a{
    text-decoration: none;
    color: #FFF;
}
.footer a:hover{
    text-decoration: underline;
}

.left {
    float: left;
}
.right {
    float: right;
}

/* Games */
.shelter {
    background: url(img/games/shelter.png) no-repeat center center;
    background-size: 100% 100%;
}
.shelter2 {
    background: url(img/games/shelter2.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.paws {
    background: url(img/games/paws.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.firewatch {
    background: url(img/games/firewatch.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.lis {
    background: url(img/games/lis.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.twd {
    background: url(img/games/twd.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.pa {
    background: url(img/games/pa.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.uncle {
    background: url(img/games/a-story-about-my-uncle.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.tales {
    background: url(img/games/tales-from-the-borderlands.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.soma {
    background: url(img/games/soma.jpg) no-repeat center center;
    background-size: 100% 100%;
}
.sevendays {
    background: url(img/games/7-days-to-die.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.titanic {
    float: none;
}